<app-title-page i18n-titlePage="Contact @@contact" titlePage="Contact" id="contact"></app-title-page>

<div class="row my-4 maxwidth mx-auto">
  
  <div class="col-12 col-xl-8 offset-xl-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-3 attr-contact text-center text-md-right my-auto">
        <span i18n="email from contact@@email">
          Email:
        </span>
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-9 attr-contact-value text-center text-md-left">
        <strong>manzolimurilo<br class="d-block d-md-none"/>@gmail.com</strong>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-8 offset-xl-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-3 attr-contact text-center text-md-right my-auto">
        <span i18n="Phone from contact@@phone">Phone:</span>
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-9 attr-contact-value text-center text-md-left">
        <strong>+55 (11) <br class="d-block d-md-none"/>93384-9110</strong>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-8 offset-xl-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-3 attr-contact text-center text-md-right my-auto">
        <span i18n="Facebook from contact@@facebook">facebook:</span>
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-9 attr-contact-value text-center text-md-left">
        <strong>fb.com/<br class="d-block d-md-none"/>mmitsitpartner</strong>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-8 offset-xl-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-3 attr-contact text-center text-md-right my-auto">
        <span i18n="Whatsapp from contact@@whatsapp">Whatsapp:</span>
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-9 attr-contact-value text-center text-md-left">
        <strong>
          <a href="https://api.WhatsApp.com/send?phone=5511933849110" target="_blank" 
          i18n-title="Whatsapp link@@whatsappLink" title="Whatsapp link">
            +55 (11) <br class="d-block d-md-none"/>93384-9110
          </a>
        </strong>
      </div>
    </div>
  </div>
</div>