<app-title-page titlePage="{{gets('contact')}}" id="contact"></app-title-page>

<div class="row my-4 maxwidth mx-auto">
  
  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-2 attr-contact text-center text-md-right my-auto">
        {{gets("email")}}:
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-10 attr-contact-value text-center text-md-left">
        <strong>manzolimurilo<br class="d-block d-md-none"/>@gmail.com</strong>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-2 attr-contact text-center text-md-right my-auto">
        {{gets("phone")}}:
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-10 attr-contact-value text-center text-md-left">
        <strong>+55 (11) <br class="d-block d-md-none"/>93384-9110</strong>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-2 attr-contact text-center text-md-right my-auto">
        {{gets("facebook")}}:
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-10 attr-contact-value text-center text-md-left">
        <strong>fb.com/<br class="d-block d-md-none"/>mmitsitpartner</strong>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="row attr-block">
      <div class="col-12 col-md-3 col-lg-2 attr-contact text-center text-md-right my-auto">
        {{gets("whatsapp")}}:
        <hr class="d-md-none"/>
      </div>
      <div class="col-12 col-md-9 col-lg-10 attr-contact-value text-center text-md-left">
        <strong><a href="https://api.WhatsApp.com/send?phone=5511933849110" target="_blank">+55 (11) <br class="d-block d-md-none"/>93384-9110</a></strong>
      </div>
    </div>
  </div>
</div>