<nav class="navbar navbar-expand-lg navbar-light bg-light maxwidth mx-auto nbgc">
  <button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mr-0" href="/">
    <img src="../../assets/symbol mmits.svg"
      i18n-alt="Logo mmits description@@logommits"
      alt="The logo MMITS was made by Murilo Man, which there are two M lying mirrored to another inside a hexagon representing the HTML simbols < and > and a slash in the midle which means a self close tag. After the symbol, the name MMITS with IT in blue collor, everything is inside a golden ratio up and bottom bordered."
      class="d-inline-block align-top btn-home-mmits" loading="lazy">
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/" i18n="home superior menu@@home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" i18n="about superior menu@@about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#whatwedo" i18n="whatwedo superior menu@@whatwedo">What we do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact" i18n="contact superior menu@@contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>