<div class="row mt-4 maxwidth mx-auto w-100">
  <div class="col-12 col-md-4 col-lg-6 d-flex">
    <img src="../../../assets/logo_mmits.svg" class="w-100 w-sm-75 w-md-100 m-auto" />
  </div>
  <div class="col-12 col-md-8 col-lg-6">
    <h1 class="titlemmits text-center">{{gets("mmitsItPartner")}}</h1>
    <ul class="list-group list-group-flush text-center text-md-left">
      <li class="list-group-item">{{gets("mmitsAttrb1")}}</li>
      <li class="list-group-item">{{gets("mmitsAttrb2")}}</li>
      <li class="list-group-item">{{gets("mmitsAttrb3")}}</li>
      <li class="list-group-item">{{gets("mmitsAttrb4")}}</li>
      <li class="list-group-item">{{gets("mmitsAttrb5")}}</li>
    </ul>
  </div>
</div>