<div class="row mt-4 maxwidth mx-auto w-100">
  <div class="col-12 col-md-4 col-lg-6 d-flex">
    <img src="../../../assets/logo_mmits.svg" class="w-100 w-sm-75 w-md-100 m-auto" i18n-alt alt="MMITS LOGO" />
  </div>
  <div class="col-12 col-md-8 col-lg-6">
    <h1 class="text-center d-none d-md-block" i18n="MMITS - IT PARTNER NAME@@mmitsitpartner">MMITS - IT PARTNER</h1>
    <h3 class="text-center d-md-none font-weight-bold" i18n="MMITS - IT PARTNER NAME@@mmitsitpartner">MMITS - IT PARTNER</h3>
    <ul class="list-group list-group-flush text-center text-md-left">
      <li class="list-group-item" i18n="MMITS - atribute 1@@mmitsattrb1">IT Consulting</li>
      <li class="list-group-item" i18n="MMITS - atribute 2@@mmitsattrb2">UI/UX Specialists</li>
      <li class="list-group-item" i18n="MMITS - atribute 3@@mmitsattrb3">Responsible designs</li>
      <li class="list-group-item" i18n="MMITS - atribute 4@@mmitsattrb4">Usability / Accessability tests</li>
      <li class="list-group-item" i18n="MMITS - atribute 5@@mmitsattrb5">Mobile Apps and Web Solutions</li>
    </ul>
  </div>
  <div class="col-12">
    <hr/>
  </div>
</div>