<app-title-page titlePage="{{gets('whatwedo')}}" id="whatwedo"></app-title-page>

<div class="row mt-4 maxwidth mx-auto descBlock">
  <div class="col-12 col-sm-5 col-md-6 d-sm-block text-center my-auto px-0">
    <img src="../../assets/mmits_coding.jpg" i18n-alt alt="A man developing code on notebook." class="w-100" />
  </div>

  <div class="col-12 col-sm-7 col-md-6 text-center my-auto py-4">
    <h1 class="text-uppercase" i18n="Developers and UX Specialists title@@developersuxspecialists">
      Developers and UX Specialists
    </h1>
    <h2 i18n="Developers and UX Specialists desc@@developersuxspecialistsDesc">
      We bring the development process closer to you. Daily meetings are important for better decisions, our focus is
      continuous delivery and fast adaptation.
    </h2>
  </div>
</div>

<div class="row mt-4 maxwidth mx-auto descBlock">
  <div class="col-12 col-sm-5 col-md-6 text-center my-auto px-0 d-sm-none">
    <img src="../../assets/agileteam.svg" i18n-alt
      alt="A desk with post it or stick notes representing a organization of ideas or work." class="w-100">
  </div>
  <div class="col-12 col-sm-7 col-md-6 text-center my-auto py-4">
    <h1 class="text-uppercase" i18n="Agile Team title@@agileTeam">Agile Team</h1>
    <h2 i18n="Agile team desc@@agileTeamDesc">
      We follow an agile methodology to bring great results to your goals. The entire development is always with a focus
      on delivering business value.
    </h2>
  </div>
  <div class="col-12 col-sm-5 col-md-6 text-center my-auto px-0 d-none d-sm-block">
    <img src="../../assets/agileteam.svg" i18n-alt
      alt="A desk with post it or stick notes representing a organization of ideas or work." class="w-100">
  </div>
</div>

<div class="row mt-4 maxwidth mx-auto descBlock">
  <div class="col-12 col-sm-5 col-md-6 d-sm-block text-center my-auto px-0">
    <img src="../../assets/stick_notes.jpg" i18n-alt alt="Prototype layouts drawn on stick notes." class="w-100">
  </div>
  <div class="col-12 col-sm-7 col-md-6 text-center my-auto py-4">
    <h1 class="text-uppercase" i18n="Our Focus title@@ourFocus">Our focus</h1>
    <h2 i18n="Our Focus desc@@ourFocusDesc">
      We develop applications always thinking about the user experience and also the business value, using techniques
      and studies of heuristics to improve user interaction.
    </h2>
  </div>
</div>