<app-title-page titlePage="{{gets('whoweare')}}" id="whoweare"></app-title-page>

<div class="row maxwidth mx-auto mt-4">
  <div class="col-12 col-sm-8 text-center my-auto">
    <h1></h1>
    <h2></h2>

  </div>
  <div class="col-12 col-sm-4 d-none d-sm-block text-center my-auto">
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="vertical" 
    data-theme="dark" data-vanity="muriloman"><a class="LI-simple-link" href='https://br.linkedin.com/in/muriloman?trk=profile-badge'>Murilo Manzoli</a></div>
  </div>
</div>
