@import '~bootstrap/scss/bootstrap'
@import 'fonts'
@import 'variables'

*
  font-family: 'Assistant', 'Sans Serif'!important
  font-weight: 300

html
  font-size: $fontsizeDefault

@include media-breakpoint-up(sm)
  html
    font-size: $fontsizeDefaultsm

@include media-breakpoint-up(md)
  html
    font-size: $fontsizeDefaultmd

@include media-breakpoint-up(lg)
  html
    font-size: $fontsizeDefaultlg

@include media-breakpoint-up(xl)
  html
    font-size: $fontsizeDefaultxl

h1
  font-size: 1.5rem!important

h2
  font-size: 1.2rem!important

h3
  font-size: 1.1rem!important
