//- About
div(class="row mt-4 maxwidth mx-auto" id="about")

    include shared/title.pug
    +title("about")
    div(class="col-12 text-center my-auto")
        p(class="text-about lns-2 text-center" data-t="aboutMMitsDesc")
            | MMITS is made up by professionals who focus directly on delivering business value and have the
            | technology in their
            | hands. Created in 2020, working on customized projects and also as an IT partner focused on
            | developing
            | applications, websites and layouts with UX / UI analysis. MMITS serves Brazilian projects as well as
            | international
            | projects.
    div(class="col-12 col-sm-8 offset-sm-2 text-center my-3 w-100 w-sm-50")
        div(class="row")
            div(class="col-12 my-4")
                div(class="row")
                    div(class="col-12 col-md-4 d-flex")
                        img(src="/assets/mission.svg" data-attr-t title="Mission" title-t="imgMissionTitle" class="w-100 iconmmits my-auto" alt-t="imgaltMission" alt="Mission")
                    div(class="col-12 col-md-8")
                        h2(class="title-mmits text-uppercase" data-t="mission")
                            | MISSION
                        h3(class="text-center" data-t="missionDesc")
                            | Execute agile deliveries, development based on UI / UX analysis, guided by effective
                            | communication with
                            | the customer for deliveries focused on quality and that add a lot of value.
            div(class="col-12 my-4")
                div(class="row")
                    div(class="col-12 col-md-4 d-flex")
                        img(src="/assets/vision.svg" data-attr-t title="Vision" title-t="imgVisionTitle" class="w-100 iconmmits my-auto" alt-t="imgaltVision" alt="Vision")
                    div(class="col-12 col-md-8")
                        h2(class="title-mmits text-uppercase" data-t="vision")
                            | VISION
                        h3(class="text-center" data-t="visionDesc")
                            | To be a company reference for developing and improving the user experience with
                            | innovative solutions and
                            | also for the quality of the service provided, with highly trained professionals in
                            | the area.
            div(class="col-12 my-4")
                div(class="row")
                    div(class="col-12 col-md-4 d-flex")
                        img(src="/assets/value.svg" data-attr-t title="Values" title-t="imgValuesTitle" class="w-100 iconmmits my-auto" alt-t="imgaltValues" alt="Values")
                    div(class="col-12 col-md-8")
                        h2(class="title-mmits text-uppercase" data-t="values")
                            | VALUES
                        h3(class="text-center" data-t="valuesDesc")
                            | We are committed to our deliveries. Persistence in finding appropriated
                            | solutions. We seek innovations in developing solutions.