//- Credits
div(class="row mt-4 maxwidth mx-auto d-none" id="credits")
    include shared/title.pug
    +title("credits")
    div(class="col-12 pt-3 text-center")
        span(data-t="iconsMadeBy")
            | Icons made by:
        br
        a(href="https://www.flaticon.com/br/autores/freepik" title="Freepik Author")
            | Freepik
        br
        a(href="http://www.freepik.com/" title="Katemangostar Author")
            | Designed by katemangostar / Freepik
        br
        a(href="https://www.clipartmax.com/middle/m2i8b1N4i8b1N4d3_designer-ux-ui-design-brain/"
            target="_blank" title="Clipartmax Author")
            | Designer - Ux Ui Design Brain @clipartmax.com
        br
        a(href="https://github.com/MuriloMan/mmits" target="_blank" title="MMITS repository")
            | GitHub MMITS project open source.