//- First Look
div(class="row mt-4 maxwidth mx-auto w-100" id="first-look")
    div(class="col-12 col-md-4 col-lg-6 d-flex")
        img(src="/assets/logo_mmits.svg" data-attr-t title="Logo mmits" title-t="imgLogoMmitsTitle" class="w-100 w-sm-75 w-md-100 m-auto" alt-t="mmitslogo" alt="MMITS LOGO")
    
    div(class="col-12 col-md-8 col-lg-6")
        h1(class="text-center d-none d-md-block" data-t="mmitsitpartner")
            | MMITS - IT PARTNER
        ul(class="list-group list-group-flush text-center text-md-left")
            li(class="list-group-item" data-t="mmitsattrb1")
                | IT Consulting
            
            li(class="list-group-item" data-t="mmitsattrb2")
                | UI/UX Specialists
            
            li(class="list-group-item" data-t="mmitsattrb3")
                | Responsive designs
            
            li(class="list-group-item" data-t="mmitsattrb4")
                | Usability / Accessability tests
            
            li(class="list-group-item" data-t="mmitsattrb5")
                | Mobile Apps and Web Solutions
    div(class="col-12")
        hr