<!--Footer-->
div(class="row mt-4 maxwidth mx-auto" id="footer")
    div(class="col-12 col-sm-6 col-md-3 pt-3 text-center")
        h4(class="font-weight-bold text-uppercase" data-t="mmitsitpartner")
            | MMITS - IT PARTNER
        p(class="my-0 text-uppercase")
            span(data-t="ribeiraopreto")
                | Ribeirão Preto - SP
            br
            span(data-t="taquaritinga")
                | Taquaritinga - SP
        p(class="my-0 text-uppercase")
            span(data-t="cnpj")
                |CNPJ: 36.351.403/0001-22
    div(class="col-12 col-sm-6 col-md-3 pt-3 text-center")
        h4(class="font-weight-bold text-uppercase")
            span(data-t="sitemap")
                | Site Map
        a(class="nav-link p-0 text-uppercase hme cl" href="/#")
            span(data-t="home")
                | Home
        a(class="nav-link p-0 text-uppercase hme cl" href="/#about")
            span(data-t="about")
                | About
        a(class="nav-link p-0 text-uppercase hme cl" href="/#portfolio")
            span(data-t="portfolio")
                | Portfolio
        a(class="nav-link p-0 text-uppercase hme cl" href="/#whatwedo")
            span(data-t="whatwedo")
                | What we do
        a(class="nav-link p-0 text-uppercase hme cl" href="/#contact")
            span(data-t="contact")
                | Contact
        a(class="nav-link p-0 text-uppercase hme cl" href="/#credits" id="clickShowCredits")
            span(data-t="credits")
                | Credits
    div(class="col-12 col-sm-12 col-md-6 pt-3 text-center")
        h4(class="font-weight-bold text-uppercase")
            span(data-t="socialnetworks")
                | Social Networks
        div(class="row h-100")
            div(class="col-12 col-sm-6 offset-sm-3 col-md-12 offset-md-0 col-lg-8 offset-lg-2 d-flex h-100")
                div(class="row my-auto mx-auto")
                    div(class="col-12 col-sm-6 col-lg-4 text-center")
                        a(class="nav-link p-0" href="https://www.facebook.com/MMITSITPARTNER/" class="alinkf"
                            target="_blank")
                            img(src="/assets/footer/facebook.svg" width="50" height="50")
                            br
                            | Facebook
                    div(class="col-12 col-sm-6 col-lg-4 text-center")
                        a(class="nav-link p-0" href="https://api.WhatsApp.com/send?phone=5511933849110"
                            class="alinkf" target="_blank")
                            img(src="/assets/footer/whatsapp.svg" width="50" height="50")
                            br
                            | WhatsApp
                    div(class="col-12 col-lg-4")
                        a(class="nav-link p-0" href="https://www.instagram.com/mmitsitpartner/"
                            class="alinkf" target="_blank")
                            img(src="/assets/footer/instagram.svg" width="50" height="50")
                            br
                            | Instagram
    div(class="col-12 text-center mt-4 btc")
        span(id="yearmmits")
        span(data-t="mmitsallrightreserved")
            | MMITS IT PARTNER - ALL RIGHTS RESERVED.
        | -
        span(id="versionmmits")