//- SEO CONFIG
meta(http-equiv="content-type" content="text/html; charset=UTF-8")
title(data-t="TitleSiteMMits") 
    | MMITS - IT PARTNER, Solutions, WebApp Development, UI/UX tests.
meta(name="keywords" content="UX, IT, Development")
meta(name="author" content="MMITS - IT PARTNER")
link(rel="canonical" href="https://mmits-it-partner.com/")
meta(name="description" data-attr-t content-t="MetaTagDescription" content="MMITS is a web application development company focused on quality and user experience, with specialists in UI / UX as well as development, always following an agile model and always looking for communication as a way to meet all expectations in order to deliver quality and add value to the product.")
meta(name="viewport" content="width=device-width, initial-scale=1")
base(href="/")
//- favicon config
link(rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192" href="/assets/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png")
link(rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon")
link(rel="icon" href="/assets/favicon.ico" type="image/x-icon")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="/assets/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")
//- Metatags og
meta(property="og:url" content="https://mmits-it-partner.com/")
meta(property="og:type" content="website")
meta(property="og:site_name" content="MMITS - IT PARTNER" data-attr-t content-t="mmitsitpartner")
meta(property="og:title" data-attr-t content-t="TitleSiteMMits" content="MMITS - IT PARTNER, Solutions, WebApp Development, UI/UX tests.")
meta(property="og:description" data-attr-t content-t="MetaTagDescription" content="MMITS is a web application development company focused on quality and user experience, with specialists in UI / UX as well as development, always following an agile model and always looking for communication as a way to meet all expectations in order to deliver quality and add value to the product.")
meta(property="og:image" content="https://mmits-it-partner.com/assets/symbol_mmits.jpeg")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="800")
meta(property="og:image:height" content="800")